.DS_Store
~$condPaper.docx
Stroke-Detector/data/cropper/filtered-images/
Stroke-Detector/data/cropper/ImageCropper
Stroke-Detector/data/filtered-images/**/**
Stroke-Detector/src/StrokeClassifier
Stroke-Detector/src/StrokeClassifier.o
Stroke-Detector/src/StrokeClassifier
